.main-container{
    padding: 20px;
    height: auto !important;
}
.main-container #title{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
}
.error-message{
    width: 60%;
    height: 30%;
    position: absolute;
    top: 35%;
    left: 19%;
    text-align: center;
    padding-top: 8%;
    font-size: 30px;
    /* display: none; */
}
nav{
    display: flex !important;
}
.hide{
    display: none;
}
.after-table{
    margin-top: 100px;
    display: flex;
}
div button{
    width: 300px;
    padding: 10px;
    background-color: rgb(31, 31, 31);
    color: white;
}
div button:hover{
    cursor: pointer;
    background-color: rgb(61, 61, 61);
}
div span{
    margin-left: 150px;
    font-size: 30px;
}
.disabled-hover:hover{
    cursor: not-allowed;
}
.funds-error{
    position: relative;
    width: 400px;
    height:70px;
    border-radius: 4px;    
    left: 33%;
    top:10px;
}
.funds-error p{
    font-size: 20px !important;
    text-align: center;
    margin-top: 20%;
    color: brown;
}

